<!--
Chad Cumba
Chad.Cumba@mail.utexas.edu
Developed in the Poldrack Lab at the University of Texas at Austin
-->
{% extends "generic/base.html" %}

{% block title %}Create an account{% endblock %}



{% block content %}
      <h1>Create an account</h1>
      <form action="{% url signup.views.register %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if not field.is_hidden %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}: {{ field }}
            </div>
            {% endif %}
        {% endfor %}
        <input type="submit">
      </form>
{% endblock %}