<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
 {% block styles %}
      {% for sheet in styles %}
<LINK REL=StyleSheet HREF="{{sheet}}" TYPE="text/css" MEDIA=screen>
      {% endfor %}

    {% endblock %}
    {% block javascript %}
        {% for file in js %}
<script type="text/javascript" src="{{file}}"></script>
        {% endfor %}
    {% endblock %}
    {% block header_additions %}
    {% endblock %}
    <title>{% block title %}{{title}}{% endblock %}</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFF">
	{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

<table border="0" width="100%" cellspacing="0" cellpadding="0" background="/static/img/topbkg.gif">
  <tr>
    <td width="50%" valign="top"><img border="0" src="/static/img/logo.gif" width="145" height="66"></td>
    <td width="50%" valign="top">
      <p align="right"><img border="0" src="/static/img/topright.gif" width="315" height="66"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="/static/img/blackline.gif">
  <tr>
    <td width="100%">
      <p align="left"><font color="#F0D8B8" face="Arial" size="2"><b>&nbsp;&nbsp;
      <a href="/">Home</a>&nbsp;&nbsp; |&nbsp;&nbsp; <a href="/anonymous/upload">Upload an image</a>&nbsp;&nbsp; |&nbsp;&nbsp;
      <a href="/faq">FAQ</a>&nbsp;&nbsp; |&nbsp;&nbsp; <a href="/signup">Create an account</a>&nbsp;&nbsp; |&nbsp;&nbsp;
      <a href="/admin">Login</a>&nbsp;&nbsp; |&nbsp;&nbsp; <a></a>&nbsp;&nbsp; |&nbsp;&nbsp;
      <a></a></b></font></td>
  </tr>
</table>
<p align="left" style="margin-left: 20"><font face="Arial" color="#000000" size="4">
	{% block header1 %}
		{{header1}}
	{% endblock %}
</font></p>
<div id="content">
        {% block content %}
                {{content}}
        {% endblock %}
</div>
<p align="left" style="margin-left: 20"><font face="Arial" size="2" color="#000000">&nbsp;</font></p>
<p align="left" style="margin-left: 20"><font face="Arial" size="2" color="#000000">&nbsp;</font></p>
<p align="left" style="margin-left: 20"><font face="Arial" size="2" color="#000000">&nbsp;</font></p>
<p align="left" style="margin-left: 20"><font face="Arial" color="#000000" size="4">
	{% block header2 %}
		{{header2}}
	{% endblock %}
</font></p>
<p align="left" style="margin-left: 20"><font face="Arial" size="2" color="#000000">&nbsp;</font></p>
<p align="left" style="margin-left: 20"><font face="Arial" size="2" color="#000000">&nbsp;</font></p>
<p align="left" style="margin-left: 20"><font face="Arial" size="2" color="#000000">&nbsp;</font></p>

<table border="0" width="100%" cellspacing="0" cellpadding="0" background="/static/img/botbkg.gif">
  <tr>
    <td width="100%"><img border="0" src="/static/img/botbkg.gif" width="48" height="12"></td>
  </tr>
</table>
</body>

</html>

