{% extends "generic/base.html" %}

{% block header_additions %}
	<script type="text/javascript" language="javascript">
		var image_id_to_load = {{image_id}};
	</script>
{% endblock %}

{% block content %}
	<canvas id="sagittal" width="240" height="240"></canvas>
	<canvas id="coronal" width="288" height="240"></canvas>
	<canvas id="axial" width="240" height="288"></canvas>
	<br />
	<div id="coords" class="plaintext data">
		<p>
		</p>
	</div>
	<div id="voxel-data" class="plaintext data">
		<p></p>
	</div>
	{{content}}
{% endblock %}