{% extends "generic/base.html" %}

{% block header_additions %}
	<script type="text/javascript" language="javascript">
		var image_id_to_load = {{image_id}};
	</script>
{% endblock %}

{% block content %}
	<canvas id="sagittal" width="240" height="240"></canvas>
	<canvas id="coronal" width="288" height="240"></canvas>
	<canvas id="axial" width="240" height="288"></canvas>
	<br />
	<div id="coords" class="plaintext data">
		<p>
		</p>
	</div>
	<div id="voxel-data" class="plaintext data">
		<p></p>
	</div>
	<div id="permanent-url" class="plaintext url">
		<a href=""></a>
	</div>
	<div id="coronal-backgrounds" class="hidden">
		{% for image in coronal_backgrounds %}
			<img src="{{image}}" class="hidden image">
		{% endfor %}
	</div>
	<div id="sagittal-backgrounds" class="hidden">
		{% for image in sagittal_backgrounds %}
			<img src="{{image}}" class="hidden image">
		{% endfor %}
	</div>
	<div id="axial-backgrounds" class="hidden">
		{% for image in axial_backgrounds %}
			<img src="{{image}}" class="hidden image">
		{% endfor %}
	</div>
	{{content}}
{% endblock %}