{% extends "generic/base.html" %}

{% block content %}

	{% for image in images.object_list %}
		{% url brainviz.image.views.ImageViewer image.user.username image.brain_slug as the_url %}
			{% if the_url %}
				<a href="{{the_url}}">{{image.user.username }}-{{ image.name }}</a><br>
			{% endif %}
	{% endfor %}
	
	<div class="pagination">
    <span class="step-links">
        {% if images.has_previous %}
            <a href="?page={{ images.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ images.number }} of {{ images.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ images.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock %}